body {
  margin: 0;
  background-color: #dbd7d2;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.groceries .list-item:nth-child(even) {
  background-color: #d0e0e3;
}

.groceries .list-item:nth-child(odd) {
  background: #99badd;
}

.basket .list-item:nth-child(even) {
  background: #99badd;
}

.basket .list-item:nth-child(odd) {
  background-color: #d0e0e3;
}