.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
    gap: 20px;
    .image {
        width: auto;
        height: 319px;
        position: relative;
    }
    .portrait {
        display: block;
        width: 100%;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.6);
        text-decoration: none;
        color: white;
        font-family: Tahoma, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        .hoverlink {
            text-decoration: none;
            color: black;
            background-color: #fff;
            padding: 8px;
            font-size: 14px;
        }
        &:hover {
            opacity: 1;
            transition: opacity 0.45s;
        }
    }

}
@media (min-width: 1024px) {
    .grid {
        margin-right: 10px;
    }

}